canvas, #lvlSelect {
	background-color: white;
	border: 5px solid black;
	margin: auto;
	display: block;
}
canvas {
	border-radius: 0%;
}
#lvlSelect {
	background-color: white;
	border: 5px solid black;
	position: absolute;
	top: 90px;
	left: 300px;
	width: 990px;
	height: 690px;
	background-image: url("lvlselpaper.png");
	opacity: 1.0;
}
#lvlSelect mark {
	background-color: black;
	color: white;
	padding: 20px;
	position: absolute;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	border: 2px solid blue;
	opacity: 1.0;
}
#transparency {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 990px;
	height: 690px;
	opacity: 0.7;
}
#lvlSelect mark:hover {
	background-color: blue;
	border: 2px solid red;
	opacity: 1.0;
}
#lvlSelect #bosslevel {
	background-color: darkmagenta;
}
#lvlSelect #bosslevel:hover {
	background-color: blue;
}
#myNewCanvas {
	border: 0px solid black;
}
body {
	font-family: sans-serif, Verdana;
}
a {
	float: left;
	text-decoration: none;
	margin-left: 20px;
	font-size: 24px;
	color: red;
}
a:hover {
	color: blue;
}
h1, p {
	text-align: center;
}